.item-wrapper {
  width: 500px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-wrapper h4 {
  font-size: x-large;
}

.item-buttons span {
  font-weight: 700;
  color: var(--deep-orange);
}

.item-buttons {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 5px;
  border-radius: 30px;
  border: 2px solid gainsboro;
}

.icon-button {
  outline: none;
  cursor: pointer;
  border: none;
  padding: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 14px;
}

.icon-button:hover {
  transition: 0.2s ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
