.header-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-text {
  letter-spacing: 0.8rem;
  font-size: 3rem;
  color: var(--deep-orange);
  font-weight: 700;
}
.header-image-wrapper {
  width: 300px;
  height: 100%;
  text-align: center;
}
.header-image {
  padding-bottom: 20px;
  max-width: 100%;
  max-height: 100%;
}
