.current-shopping-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item-input-wrapper {
  width: 400px;
  display: flex;
  gap: 1rem;
}

.item-input-wrapper input {
  width: 100%;
  padding: 1rem 2px;
  border: none;
  border-bottom: 2px solid var(--deep-orange);
  outline: none;
  font-size: 20px;
}

.item-input-wrapper button {
  padding: 0 20px;
  background-color: var(--deep-orange);
  color: #ffffff;
  outline: none;
  border: none;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.item-input-wrapper button:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
